<!DOCTYPE html>
<html>
  <head>
    <title>Classy Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%# check if it is homepage, yes -> give 'banner' class, no -> give 'container' class  %>
    <% css_class = (current_page? root_path) ? 'banner' : 'container' %>
    <div class='<%= css_class %>' >
      <%= handle_missing_mapbox_gl_css %>
      <%= yield %>
    </div>
    <%= render 'shared/flashes' %>
  </body>
</html>
